<div
  class="border-b border-zinc-700 py-4 px-6 flex justify-between items-center"
>
  <div class="flex items-center gap-3">
    <div class="w-4 h-4 bg-accent rounded shadow-expand-sm"></div>
    <h1 class="text-2xl font-mono font-bold text-gray-900 dark:text-white">
      DBML Converter
    </h1>
  </div>

  <!-- Controls: Preview mode & Editor mode -->
  <div class="flex gap-2">
    <button
      (click)="setViewMode(this.CODE_VIEW_MODE_MAP.preview)"
      [class]="
        currentMode() === this.CODE_VIEW_MODE_MAP.preview
          ? 'bg-bg-tertiary text-accent'
          : 'text-text-muted hover:bg-bg-secondary hover:text-text'
      "
      class="text-sm font-medium px-3 py-1.5 rounded-lg flex items-center gap-2"
    >
      <preview-icon className="w-5 h-5"></preview-icon>
      Preview mode
    </button>

    <button
      (click)="setViewMode(this.CODE_VIEW_MODE_MAP.editor)"
      [class]="
        currentMode() === this.CODE_VIEW_MODE_MAP.editor
          ? 'bg-bg-tertiary text-accent'
          : 'text-text-muted hover:bg-bg-secondary hover:text-text'
      "
      class="text-sm font-medium px-3 py-1.5 rounded-lg flex items-center gap-2"
    >
      <editor-icon className="w-5 h-5"></editor-icon>
      Editor mode
    </button>
  </div>
</div>
