code[class*="language-"],
pre[class*="language-"] {
  color: #d4d4d4;
  text-shadow: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

/* Highlight tokens */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #80b06a;
}

.token.punctuation {
  color: #d4d4d4;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #e2f7d7;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.inserted {
  color: #80cd5c;
}

.token.builtin {
  color: #ff9cc9;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #d4d4d4;
  background: transparent;
}

/* e.g. imports */
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #89dbfb;
}

.token.function {
  color: #f5d533;
}

.token.regex,
.token.important,
.token.variable {
  color: #8cd169;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/*
===================
DBML Specific Styles
===================
*/
.language-dbml .token.keyword {
  color: #569cd6;
  font-weight: bold;
}

.language-dbml .token.entity,
.language-dbml .token.entity-name,
.language-dbml .token.class-name {
  color: #4ec9b0;
  font-weight: bold;
}

.language-dbml .token.type {
  color: #4ec9b0;
}

.language-dbml .token.attribute {
  color: #ce9178;
}

.language-dbml .token.attribute .token.attribute-content,
.language-dbml .token.attribute .token.attr-value {
  color: #ce9178;
}

.language-dbml .token.property {
  color: #dcdcaa;
}

.language-dbml .token.function {
  color: #dcdcaa;
}

.language-dbml .token.identifier {
  color: #9cdcfe;
}

.language-dbml .token.delimiter {
  color: #d4d4d4;
}

.language-dbml .token.number {
  color: #b5cea8;
}

.language-dbml .token.string {
  color: #ce9178;
}

/* Tables */
.language-dbml .token.keyword + .token.class-name {
  color: #4ec9b0;
  font-weight: bold;
}

/* Refs */
.language-dbml .token.operator + .token.identifier {
  color: #9cdcfe;
}

/* Table Properties */
.language-dbml .token.property.table-column {
  color: #dcdcaa;
}
